plugins:
  - angular

rules:
    angular/ng_controller_name:
      - 2
      - '/[A-Z].*Controller$/'
    quotes:
      - 2
      - 'single'
    angular/ng_controller_as:
      - 2
      - '/[A-Z].*Controller$/'

globals:
    angular: true